.main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.content {
  flex: 1;
  width: 100%;
  position: relative;
  z-index: 0;
  background: #ffff;
}

/*sidebar*/
@media (max-width: 1200px) {
  .main {
    display: block;
    position: relative;
    width: 100%;
  }

  ::ng-deep .sidebar {
    position: fixed !important;
    left: 0;
    height: 100vh;
    width: 60px;
    z-index: 1;
    transition: width 0.3s ease;
  }

  .sidebar.open {
    width: 200px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  }

  .content {
    width: 100%;

    margin-left: 60px !important;
  }
}