::ng-deep .sidebar {
  width: 200px;
  background: #2b2f33;
  transition: width 0.3s ease;
  min-height: 100vh;
}

.sidebar:not(.open) {
  width: 60px;
}

.toggle-btn mat-icon {
  font-size: 20px;
  color: #fff;
}

.toggle-btn .active{
   background: linear-gradient(90deg, #656667, #2b2f33) !important;
  border-radius: 6px;
  font-weight: 600;
}
.back-text {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

::ng-deep .side-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}


.side-icon {
  font-size: 20px;
  margin-left: 10px;
}

.side-link {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s ease;
  color: #9a9a9a;

  &:hover,
  &.active {
  
    .side-icon {
      color: #fff; 
    }
    .side-text {
      color: #fff;
    }
  }
}
.side-link.active {
  background: linear-gradient(90deg, #656667, #2b2f33);
  border-radius: 6px;
  font-weight: 600;
}

