@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import './app/styles/form.scss';
@import url('./app/styles/widgets.scss');

*,
body [class^="mat-"]:not(mat-icon),
body [class*="mat-"]:not(mat-icon) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

html,
body {
  height: 100%;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #e5e7eb;
  background: none;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  min-height: calc(100vh - 70px);
}

.mat-mdc-checkbox .mdc-checkbox__background {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #000;
}

.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #2c2c2c !important;
  border-color: #2c2c2c !important;
}

.mat-mdc-checkbox .mdc-checkbox__checkmark-path {
  stroke: #fff !important;
}

router-outlet {
  display: contents;
}






